In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("HousePrice_dataset.csv")

In [8]:
print(df.head())

   Unnamed: 0 property_type     price     location       city  baths  \
0           0          Flat  10000000         G-10  Islamabad      2
1           1          Flat   6900000         E-11  Islamabad      3
2           2         House  16500000         G-15  Islamabad      6
3           3         House  43500000    Bani Gala  Islamabad      4
4           4         House   7000000  DHA Defence  Islamabad      3

    purpose  bedrooms  Area_in_Marla
0  For Sale         2            4.0
1  For Sale         3            5.6
2  For Sale         5            8.0
3  For Sale         4           40.0
4  For Sale         3            8.0

In [9]:
print("Feature columns:")
print(df.columns)

Feature columns:
Index(['Unnamed: 0', 'property_type', 'price', 'location', 'city', 'baths',
       'purpose', 'bedrooms', 'Area_in_Marla'],
      dtype='object')

In [10]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [11]:
df['area_sqft'] = df['area_in_marla'] * 272.25

In [16]:
features = ['area_sqft', 'bedrooms', 'baths']
target = 'price'

In [17]:
df = df[features + [target]].dropna()

In [18]:
X = df[features]
y = df[target]

In [19]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [22]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

NameError: name 'KNeighborsClassifier' is not defined